
# OS / Editor junk

.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*.log
.vscode/
.idea/

# Python

__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/


# Builds

build/
out/
results/
work/
run/
runs/
output/
tmp/


# Verilator
obj_dir/
verilator.log

# VCS / Xcelium / Questa
simv
simv.daidir/
csrc/
xcelium.d/
waves/
*.vcd
*.fsdb
*.wlf


*.odb
*.def
*.lef
*.gds
*.oas
*.sdc
*.spef
*.rc
*.rpt

# Innovus / ICC2
INNOVUS/
icc2_output/
*.enc.dat
*.route
*.cts


# Vivado
.vivado/
*.jou
*.str
*.cache/
*.hw/
*.ip_user_files/
*.runs/

# Quartus
db/
incremental_db/
*.qws

*.svf
*.lint
*.cdc
*.rdc

*.elf
*.hex
*.bin
*.map
*.o
*.a


docs/_build/
*.pdf
*.aux
*.toc

# KLayout
*.lyrdb
*.lyp
*.lyt
*.oas


keys/
secrets/
*.key
*.pem
*.der
*.crt

